infura_keys.txt
.venv/
__pycache__/
research/2026-09-05/eth_day/raw/
research/2026-09-05/eth_5h/raw/
research/2026-09-05/amount_outliers_eth_5h/txs_all.jsonl.gz
research/2026-09-05/eth_5h/raw/
research/*/amount_outliers_eth_*/txs_all.jsonl.gz
